extends layout
include mixins/_storeCard
include mixins/_pagination

block content
  //- contenido con un punto antes, es un div
  .inner
    //- h2= es una interpolacion
    h2= title
    .stores
      each store in stores
        +storeCard(store)
    +pagination(page, pages, count)